* {
  font-family: monospace;
}

.text-container {
  display: flex;
  border: 1px solid rgb(221, 221, 221);
  border-radius: 3px;
}

.text {
  flex: 1 1 0;
  overflow-x: scroll;
}

.compare-container {
  margin: 8px 0;
  text-align: center;
}
